h2{
    color: #585e61;
    text-align: center;
}
.box{
    width: 20%;
    padding: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 12px;
}
.box-login{
    padding: 2px auto;
    display: block;
    text-align: left;
}
.box-login label{
    color: #585e61;
    margin: 4px auto;
    font-weight: 500;
}
.box-login span{
    color: #585e61;
    font-weight: 500;
}
.box-login input[type='email'],.box input[type='password']{
    border: 0;
    background: none;
    text-align: center;
    border: 2px solid #6e7679;
    width: 100%;
    outline: none;
    color: #585e61;
    border-radius: 4px;
    transition: 0.25s;
}

.box-login input[type ='email']:focus,.box-login input[ type='password']:focus{
    border-color: #cfd1d2;
}
.box input[type='submit']{
    border: 0;
    background:#E99820;
    text-align: center;
    border: 2px solid none;
    padding: 10px;
    width: 100%;
    outline: none;
    color: white;
    border-radius: 12px;
}
.box input[type='submit']:hover{
    background: #ba7a1a;
}
p{
    color: #585e61;
    font-weight: 500;
    margin: 4px auto;
}